.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cta-section {
  font-family: 'Press Start 2P', sans-serif;
}

.header {
  font-family: 'Press Start 2P', sans-serif;
}

body {
  font-family: 'vt323', sans-serif;
}

.error-page-background {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 94vh;
  background-image: url('./youhavediedofdysentery.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.error-content {
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.go-back-button {
  display: inline-block;
  background-color: #14ff4b;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Press Start 2P";
  margin-bottom: 20px;
}

.go-back-button:hover {
  background-color: #14ff4b;
  color: #000000;
}

.go-back-button:focus {
  outline: none;
}

.game-form-background {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 94vh;
  background-image: url('./sonicbackground.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}